# /etc/security/access.conf
#
# DO NOT CHANGE THIS FILE MANUALLY!
<%- if @custom_default == 'true' %>
#
#
<%- @custom.each do |cust| %>
<%= cust %>
<%- end %>
#
<%- end %>
#
# BELOW ADDED BY THE gm_access_config COOKBOOK
<%- @rules.each do |rule| %>
<%= rule %>
<%- end %>
<%- if @default == 'deny' %>
# BELOW BLOCKS ANY ACCESS NOT EXPLICITLY ALLOWED
- : ALL : ALL
<%- end %>
